body {
    background-color: #757083;
    color: white;
    margin: 0px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 20px;
}

nav {
    background-color: #9FC2CC;
    color: black;
    position: sticky;
    top: 0;
    padding: 10px;
    border: solid #474056 1px;
}

nav a {
    background-color: rgb(237, 237, 237);
    color: black;
    text-decoration: none;
    padding: 7px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 2px 0px;
    display: inline-flex;
}

nav a:hover {
    background-color: rgb(218, 218, 218);
}

section {
    background-color: #8A95A5;
    padding: 20px;
    margin: 20px 5px;
    border: solid #474056 1px;
}

li {
    list-style-type: none;
}

.project-link {
    background-color: rgb(237, 237, 237);
    color: black;
    text-decoration: none;
    padding: 7px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 2px 0px;
    display: flex;
    flex-flow: column wrap;
}

.project-link:hover {
    background-color: rgb(218, 218, 218);
}

img {
    width: 40%;
    max-height: 797px;
    max-width: 512px;
    border-radius: 50%;
    border: black 2px solid;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

footer {
    background-color: #090C08;
    padding: 20px;
    margin: 0px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1280px) {
    section {
        margin: 5% 15%;
    }
}